/* Estilos para el color celeste */
.celeste {
    background-color: #0198bf;
    border-radius: 25px;
    width: 150px;
}

/* Estilos para el color verde */
.verde {
    background-color: #668c2e;
}

/* Estilos para el color lila */
.lila {
    background-color: #6b4089;
    border-radius: 25px;

}

ffd700

/* Estilos para el color naranja */
.gold {
    background: #ffd700;
    border-radius: 25px;

}

/* Estilos para el color rojo */
.rojo {
    background-color: #d41d21;
    border-radius: 25px;
}

/* Estilos para el color negro */
.negro {
    background-color: #000000;
}

/* Estilos para los enlaces de paginación */
.page-link {
    background-color: #668c2e;
}

/* Estilos para la barra de color */
.colorBarra {
    background-color: #e3f2fd;
}

/* Estilos para las filas de la tabla */
tr {
    border-bottom: 1px solid #dee2e6;
    /* Color del borde */
}

/* Estilos para los títulos h2 */
h2 {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Estilos para el tamaño de fuente 20 */
.font25 {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

/* Estilos para el tamaño de fuente 18 */
.font18 {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}


.icono-navbar {
    font-size: 2em;
}

.icono-vista {
    font-size: 2em;
}

.icono-tabla {
    font-size: 1.5em;
}

/* BotonesApp */
.btn-eliminar {
    background-image: url('eliminar.png');
    background-size: cover;
    /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
    /* Evita la repetición de la imagen */
    text-indent: -9999px;
    /* Oculta el texto del botón */
    width: 40px;
    /* Ajusta el ancho de tu imagen */
    height: 40px;
    /* Ajusta la altura de tu imagen */
    border: none;
    /* Elimina el borde del botón */
    background-color: transparent;
    /* Establece el fondo transparente */
}

.btn-editar {
    /* background-image: url('/img/imagen.jpg'); */
    background-image: url('ajuste.png');
    background-size: cover;
    /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
    /* Evita la repetición de la imagen */
    text-indent: -9999px;
    /* Oculta el texto del botón */
    width: 40px;
    /* Ajusta el ancho de tu imagen */
    height: 40px;
    /* Ajusta la altura de tu imagen */
    border: none;
    /* Elimina el borde del botón */
    background-color: transparent;
    /* Establece el fondo transparente */
}

.btn-password {
    background-image: url('password.png');
    background-size: cover;
    /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
    /* Evita la repetición de la imagen */
    text-indent: -9999px;
    /* Oculta el texto del botón */
    width: 40px;
    /* Ajusta el ancho de tu imagen */
    height: 40px;
    /* Ajusta la altura de tu imagen */
    border: none;
    /* Elimina el borde del botón */
    background-color: transparent;
    /* Establece el fondo transparente */
}

.btn-enviado {
    background-image: url('enviado.png');

    background-size: cover;
    /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
    /* Evita la repetición de la imagen */
    text-indent: -9999px;
    /* Oculta el texto del botón */
    width: 40px;
    /* Ajusta el ancho de tu imagen */
    height: 40px;
    /* Ajusta la altura de tu imagen */
    border: none;
    /* Elimina el borde del botón */
    background-color: transparent;
    /* Establece el fondo transparente */
}


.btn-eliminar:hover,
.btn-editar:hover,
.btn-cerrar:hover,
.btn-guardar:hover,
.btn-password:hover,
.icono-vista:hover,
.icono-tabla:hover,
.btn-enviado:hover {
    transform: scale(1.3);
    /* Cambia el tamaño del botón al pasar el mouse */
    /* Puedes agregar otros estilos de hover aquí */
}


.icono-navbar:hover {
    transform: scale(1.3);
    color: #ffd700
}

.btn-guardar {
    background-image: url('guardar.png');
    background-size: cover;
    /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
    /* Evita la repetición de la imagen */
    text-indent: -9999px;
    /* Oculta el texto del botón */
    width: 50px;
    /* Ajusta el ancho de tu imagen */
    height: 50px;
    /* Ajusta la altura de tu imagen */
    border: none;
    /* Elimina el borde del botón */
    background-color: transparent;
    /* Establece el fondo transparente */
}

.btn-cerrar {
    background-image: url('cancelar.png');
    background-size: cover;
    /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
    /* Evita la repetición de la imagen */
    text-indent: -9999px;
    /* Oculta el texto del botón */
    width: 60px;
    /* Ajusta el ancho de tu imagen */
    height: 60px;
    /* Ajusta la altura de tu imagen */
    border: none;
    /* Elimina el borde del botón */
    background-color: transparent;
    /* Establece el fondo transparente */
}


/* CSS MODALES */

.modal-content {
    border-radius: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.modal-header {
    background-color: #ffc107;
    border-bottom: none;
}

.header-login {
    background-color: #f38a1b;
    color: #fff;
    padding: 15px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.modal-title {
    color: #fff;
}

.modal-body {
    padding: 25px;
}

/* Estilo para las etiquetas */
.form-group label {
    margin-bottom: 4px;
    /* Añade un poco de espacio debajo de cada etiqueta */
    display: block;
    /* Asegura que cada etiqueta esté en una línea separada */
}

/* Estilo para los campos de formulario */
.form-control {
    border-radius: 20px;
    /* Hace que los campos de formulario sean más redondeados */
}

/* Estilos para redondear el div principal */
.card {
    border-radius: 20px;
}

/* Estilos para redondear el encabezado */
.header-login {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Estilos para redondear los labels */
.form-label {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.botonLogin {
    width: 200px;
    margin-right: 0px;

    background-color: #668c2e;
    border-radius: 25px;
}

/* Estilos para del navbar */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}



.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 209.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

/* CSS CARD-EDITADA */

.card-rutas {
    max-width: 300px;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
}

.card-rutas img {
    transition: all linear 0.25s;
}

.card-rutas img {
    height: 400px;
    /* o la altura que desees */
    width: 400px;
    /* o un ancho fijo si lo necesitas */
    object-fit: cover;
    /* opcional: para controlar cómo se ajusta la imagen al contenedor */
}


.card-rutas {
    overflow: hidden;
}

.card-rutas .card-nombre {
    position: absolute;
    left: 20px;
    bottom: 280px;
    font-size: 35px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.card-rutas .card-icons {
    position: absolute;
    bottom: 30px;
    right: 20px;
    color: #FFF;
    transition: all linear 0.25s;
}

.card-rutas .card-subtitulo {
    position: absolute;
    bottom: 270px;
    left: 40px;
    color: #FFF;
    font-size: 25px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}


.card-estado {
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: #FFF;
    font-size: 20px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.card-horario {
    position: absolute;
    bottom: 135px;
    left: 22px;
    font-size: 20px;
    
}

.card-idioma {
position: absolute;
    bottom: 170px;
    left: 20px;
    font-size: 20px;
}

.card-rutas .card-icons .fa {
    margin: 5px;
}

.card-rutas:hover img {
    filter: grayscale(100%);
}

.card-rutas:hover .card-nombre {
    bottom: 220px;
}

.card-rutas:hover .card-subtitulo {
    bottom: 150px;
}

.card-rutas:hover .card-icons {
    right: 40px;
}



/* CSS LOGIN */




@media (max-width: 767px) and (min-width: 330px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;

    }

    .card-rutas {
        max-width: 400px;
    }

}


@media (max-width: 1200px) and (min-width: 992px) {
.card-nombre {
        font-size: 30px;

    }

}


@media (max-width: 991px) and (min-width: 768px) {
    .card-nombre {
        font-size: 20px important;  

    }

        .card-horario {
            bottom: 100px;
        }

                 .card-estado {
                     bottom: 6px;
                 }

                                        .card-icons {
                                            right: 0px;
                                        }

}


